doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/register-login.css')
  body
    block content
    .footer
      p 千寻 - Thousands Find
      p Designed By ZengRong &
        a(href="zrong.me") zrong.me 2016
