extends layout

block content
    #box
    .cent-box
        .cent-box-header
            h1.main-title.hide Coding
            h2.sub-title 热爱生活 - 热爱coding

        .cont-main.clearfix
            .index-tab
                .index-slide-nav
                    a.active(href='login') 登录
                    a(href='register')  注册
                    .slide-bar
            .login.form
                .group
                    .group-ipt.user
                        input(type="text" name="user" id="user" class="ipt" placeholder="用户名" required)
                    .group-ipt.password
                        input(type="password" name="password" id="password" class="ipt" placeholder="输入您的登录密码" required)
            .button
                button(type="submit" class="login-btn register-btn login-submit" id="button") 登录
            .remember.clearfix
                label.remember-me
                    span.icon
                        span.zt
                    input(type="checkbox" name="remember-me" id="remember-me" class="remember-mecheck" checked)
                    span 记住我
                label.forgot-password
                    a(href="#") 忘记密码？
    script(src='../javascripts/particles.js')
    script(src='../javascripts/background.js')
    script(src='../javascripts/jquery.min.js')
    script(src='../javascripts/layer/layer.js')
    script(src='../javascripts/index.js')