extends layout

block content

    #box
    .cent-box.register-box
        .cent-box-header
            h1.main-title.hide Coding
            h2.sub-title 热爱生活 - 热爱coding

        .cont-main.clearfix
            .index-tab
                .index-slide-nav
                    a(href='login') 登录
                    a.active(href='register')  注册
                    .slide-bar.slide-bar1
            .login.form
                .group
                    .group-ipt.user
                        input(type="text" name="user" id="user" class="ipt" placeholder="设置用户名" required)
                    .group-ipt.password
                        input(type="password" name="password" id="password" class="ipt" placeholder="设置登录密码" required)
                    .group-ipt.password1
                        input(type="password" name="password" id="password1" class="ipt" placeholder="重复密码" required)
            .button
                button(type="submit" class="login-btn register-btn register-submit" id="button") 注册

    script(src='../javascripts/particles.js')
    script(src='../javascripts/background.js')
    script(src='../javascripts/jquery.min.js')
    script(src='../javascripts/layer/layer.js')
    script(src='../javascripts/index.js')